<ion-view title="Happyhour">
    <ion-content class="logoback" has-header="true" padding="true">


          <div class="whatsthis">
            <h1>Happyhour is an app that allows local business's to post their happy hours!</h1>

          </div>


        <div class="card">
            <div class="whatsthis">
                <div class="item item-divider">
                    Describe your deal
                </div>
                <div class="item item-text-wrap">
                  <form class="" action="index.html" method="post">
                    <input ng-model="user.name" placeholder="Description" type="text"/>
                  </form>

                    </div>
            </div>

            <div class="content padding">
                <button class="button button-balanced button-block" ng-click="next()">
                    Next
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
